body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:white;
        background-image:url('https://www.bloodbankonline.org/images/Tue2014_BackgroundBokeh_3.jpg');
  }
  
  .container {
  
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h1{
      color:black
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:black;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  button[type="submit"] {
    width: 20%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    /*margin-left:40%;*/
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
#userLoginForm a{
      text-decoration: none;
      color:black;
      margin-left:48%;
}
#admin{
   margin-left: 50%;
    text-decoration: none;
    color:black;
}


  