.form{
    margin-top: 70px;
    margin: auto;
    width: 50%;
    /* border: 1px solid black; */
    text-align: left;
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E9967A;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input, select,button{
    border-radius: 4px;
    background-color: #FBCEB1;
}
h1{
    margin-left: 450px;
}
textarea{
    background-color: #FBCEB1;
    border-style:none;
    border-radius: 3px;
}
input [type="submit"]{
    width:40px
}
body{
    background-color: #FBCEB1;
}